@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #ffffff;
}

p {
    margin-bottom: unset;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #000000;
}

h1 {
    color: #000000;
}

/* .navbar-toggler {
    color: #ffffff !important;
    border-style: none !important;
    border: none !important;
    outline: none !important;
}

.navbar-toggler-icon {
    color: #ffffff !important;
    border-style: none !important;
    border: none !important;
    outline: none !important;
}

.navbar {
    background-color: #131313;
}

.navbar-brand .logo {
    min-width: 200px;
    width: 200px;
}

.navbar-brand {
    color: black;
    font-size: 30px;
    font-weight: bold;
}

.navbar-nav .nav-item a {
    color: #ffffff;
    font-size: 14px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    letter-spacing: 1px;

}

.navbar-nav .nav-item a:hover {
    border-bottom: 1px solid yellow;
    color: yellow;
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
    color: yellow;
    border-bottom: 1px solid yellow;
} */


/* new navbar section */


/* The side navigation menu */
.navbar-brand .logo{
    margin: 12px 0 0 113px;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: yellow;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #ffffff;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

/* ---------------------banner section------------------- */
.banner {
    position: relative;
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
}

.banner .banner-text {
    position: absolute;
    top: 30%;
    left: 9%;
}

.banner .banner-text h1 {
    font-size: 130px;
    font-weight: 100;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    line-height: 0.9;
}

.banner .banner-text h1 span {
    color: yellow;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.banner-2 {
    position: relative;
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
}

.banner-2 .banner-text {
    position: absolute;
    top: 57%;
    text-align: center;
    padding-right: 100px;
}

.banner-2 .banner-text h2 {
    color: #ffffff;
}

.banner-2 .banner-text h2 span {
    color: yellow;
}

.banner-2 .banner-text p {
    color: #ffffff;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;

}

/* ---------------------services section------------------- */

.services .card-section {
    padding: 50px 0px;
}

.services h1 {
    text-align: center;
    color: black;
    padding-bottom: 50px;
}

.services .services-content .left {
    flex: 1;
    text-align: center;
    color: black;


}

.services .services-content .left-contents {
    text-align: center;
    color: black;

}


.services .services-content .middle {
    flex: 1;
    text-align: center;
    color: black;


}

.services .services-content .middle-contents {
    text-align: center;
    color: black;
}

.services .services-content .right {
    flex: 1;
    text-align: center;
    color: black;


}

.services .services-content .right-contents {
    text-align: center;
    color: black;

}


@media (min-width:280px) and (max-width:1200px) {
    .navbar-brand .brand-container{
        text-align: center;
    }

    .navbar-brand .logo {
        min-width: 100px;
        width: 100px;
        margin: 20px 0;
    }

    .banner .banner-text h1 {
        font-size: 45px;
    }

    .banner .banner-text p {
        font-size: 17px;
    }

    .services .services-content {
        flex-direction: column;
        gap: 30px;
    }

    .banner-2 .banner-text {
        top: 20%;
        text-align: right;
    }

    .banner-2 .banner-text h2 {
        font-size: 32px;
    }

    .banner-2 .banner-text p {
        font-size: 13px !important;
    }
}

@media (min-width:280px) and (max-width:768px) {
    .banner .banner-text {
        left: 4%;
    }

    .navbar-brand .logo {
        margin-left: 10px;
    }

    .banner-2 .banner-text {
        top: -55%;
        padding-right: 20px;
    }

    .home3rdPage {
        flex-direction: column;
    }

    .home3rdPage .left {
        order: 0 !important;
    }

    .home3rdPage .left img {
        width: 200px;
    }

    .home3rdPage .right h1 {
        font-size: 45px !important;
        padding-top: 15px !important;
    }

    .home3rdPage .right p {
        font-size: 16px !important;
    }

    .home3rdPage {
        gap: 0 !important;
    }

    /* footer section media query css */

    .footer-section .footer .right ul {
        margin-right: 0px !important;
    }

    .footer-section .footer .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .footer-section .footer .container .left {
        margin-bottom: 20px;
    }

    .footer-section .footer .container .right ul {
        margin-bottom: 20px;
    }

    .footer-section .footer .container .right {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }


}

@media (min-width:768px) and (max-width:1024px) {
    .banner-2 .banner-text {
        top: 20%;
    }

    .banner-2 .banner-text p {
        font-size: 14px !important;
    }

    .home3rdPage .left {
        order: 0 !important;
    }
}


.copywrite .copywrite-content {
    background-color: #131313;
}


.copywrite .copywrite-content .left {
    font-size: 10px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
    color: #ffffff;
}

/* home page contents css */

.home3rdPage {
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 80px;
}


.home3rdPage .right h1 {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 75px;
    padding-top: 30px;
}

.home3rdPage .right h1 span {
    color: yellow;
}

.home3rdPage .right p {
    color: #000000;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-style: italic;
}

.home3rdPage .right a .fa:hover {
    background-color: yellow;
    border-radius: 50%;
}


/* flip card section css */
.card-section {
    position: relative;
}

.card-section .col {
    display: flex;
    justify-content: center;
}

.card-section .card {
    position: relative;
    width: 300px;
    height: 400px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
}

.card-section .card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: yellow;
    /* background: #9bdc28; */
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.card-section .card:hover:before {
    clip-path: circle(300px at 80% -20%);
}

.card-section .card:after {
    content: 'B2WORLD';
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 25, 0.05)
}

.card-section .card .imgBx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 0.5s;
}

.card-section .card:hover .imgBx {
    top: 0%;
    transform: translateY(0%);

}

.card-section .card .imgBx img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
    width: 200px;
}

.card-section .card .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

.card-section .card:hover .contentBx {
    height: 210px;
}

.card-section .card .contentBx h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    margin: 0;
}

.card-section .card .contentBx .size,
.card-section .card .contentBx .color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    padding-bottom: 0;
    font-size: 13px;
}

.card-section .card:hover .contentBx .size {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}

.card-section .card:hover .contentBx .color {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
}

.card-section .card .contentBx .size h3,
.card-section .card .contentBx .color h3 {
    color: #fff;
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

/* Footer contant*/
.footer-section .footer .container {
    justify-content: space-between;
}

.footer-section .footer {
    background-color: whitesmoke;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-section .footer ul {
    padding: 0px;
    margin: 0px;
}

.footer-section .footer ul li {
    list-style: none;
}

.footer-section .footer .left .icons {
    margin-right: 10px;
}

.footer-section .footer .right ul {
    margin-right: 30px;
}

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
    position: fixed;
    /* top: 50%; */
    bottom: -10%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1000;
}

/* Style the icon bar links */
.icon-bar a {
    display: block;
    text-align: center;
    padding: 6px 10px;
    transition: all 0.3s ease;
    color: white;
    font-size: 14px;
    margin: 10px;
    border-radius: 50%;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
    /* background-color: #000; */
    transform: translateX(5px);
    transition: 0.3s;
}

.facebook {
    background: #3B5998;
    color: white;
}

.twitter {
    background: #55ACEE;
    color: white;
}

.google {
    background: #dd4b39;
    color: white;
}

.linkedin {
    background: #007bb5;
    color: white;
}

.youtube {
    background: #bb0000;
    color: white;
}