*{
    margin: 0;
    padding: 0;
}

p{
    margin-bottom: unset;
}

h1{
    font-weight: bold;
}

.navbar{
    background-color: #000;
}

.navbar-brand .logo{
    min-width: 200px;
    width: 200px;
}

.navbar-brand{
    color: black;
    font-size: 30px;
    font-weight: bold;
}

.navbar-nav .nav-item a{
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: bold;
}

.navbar-nav .nav-item a:hover{
    border-bottom: 1px solid #fa6279;
    color: #fa6279;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link{
    color: #fa6279;
    border-bottom: 1px solid #fa6279;
}

/* ---------------------banner section------------------- */
.banner{
    position: relative;
    background-image: url(img/bg-image.jpeg);
    height: calc(100vh - 99px);
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
}

.banner .banner-text{
    position: absolute;
    top: 17%;
    left: 19%;
}

.banner .banner-text h1{
    font-size: 100px;
    font-weight: normal;
    color: #ffffff;
}

.banner .banner-text h1 span{
    color: #fa6279;
}

.banner-2{
    position: relative;
    background-image: url(img/2nd-banner.jpeg);
    height: calc(100vh - 300px);
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
}

.banner-2 .banner-text{
    position: absolute;
    top: 15%;
}

.banner-2 .banner-text h2{
    color: #ffffff;
}

.banner-2 .banner-text h2 span{
    color: #fa6279;
}

.banner-2 .banner-text p{
    color: #ffffff;
    font-size: 20px;
}

/* ---------------------services section------------------- */

.services{
    background: black;
}

.services .container{
    padding: 50px 0px;
}

.services h1{
    text-align: center;
    color: whitesmoke;
    padding-bottom: 50px;
}

.services .services-content .left{
    flex: 1;
    text-align: center;
    color: white;


}
.services .services-content .left-contents{
    text-align: center;
    color: white;

}


.services .services-content .middle{
    flex: 1;
    text-align: center;
    color: white;


}
.services .services-content .middle-contents{
    text-align: center;
    color: white;
}

.services .services-content .right{
    flex: 1;
    text-align: center;
    color: white;


}
.services .services-content .right-contents{
    text-align: center;
    color: white;

}


@media (min-width:280px) and (max-width:900px){
    .banner .banner-text{
        position: absolute;
        top: 37%;
        left: 16%;
    }
    
    .banner .banner-text h1{
        font-size: 45px;
    }
    
    .banner .banner-text p{
        font-size: 17px;
    }

    .services .services-content{
        flex-direction: column;
        gap: 30px;
    }

    .banner-2 .banner-text{
        top: 10% ;
    }

    .banner-2 .banner-text h2{
        font-size: 28px;
    }

    .banner-2 .banner-text p{
        font-size: 14px !important;
    }

    .banner{
        height: calc(100vh - 294px);
    }
    .banner-2{
        height: calc(100vh - 300px);
    }
}




.footer .footer-content .left{
    font-size: 10px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
}

.card-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text{
    font-size: 14px;
}




