@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #131313;
}

p{
    margin-bottom: unset;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1{
    color: #000000;
}


.navbar{
    background-color: #131313;
}

.navbar-brand .logo{
    min-width: 200px;
    width: 200px;
}

.navbar-brand{
    color: black;
    font-size: 30px;
    font-weight: bold;
}

.navbar-nav .nav-item a{
    color: #ffffff;
    font-size: 14px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    letter-spacing: 1px;

}

.navbar-nav .nav-item a:hover{
    border-bottom: 1px solid #fa6279;
    color: #fa6279;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link{
    color: #fa6279;
    border-bottom: 1px solid #fa6279;
}

/* ---------------------banner section------------------- */
.banner{
    position: relative;
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
}

.banner .banner-text{
    position: absolute;
    top: 30%;
    left: 9%;
}

.banner .banner-text h1{
    font-size: 130px;
    font-weight: 100;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    line-height: 0.9;
}

.banner .banner-text h1 span{
    color: #fa6279;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.banner-2{
    position: relative;
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
}

.banner-2 .banner-text{
    position: absolute;
    top: 57%;
    text-align: center;
    padding-right: 100px;
}

.banner-2 .banner-text h2{
    color: #ffffff;
}

.banner-2 .banner-text h2 span{
    color: #fa6279;
}

.banner-2 .banner-text p{
    color: #ffffff;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;

}

/* ---------------------services section------------------- */

.services .container{
    padding: 50px 0px;
}

.services h1{
    text-align: center;
    color: black;
    padding-bottom: 50px;
}

.services .services-content .left{
    flex: 1;
    text-align: center;
    color: black;


}
.services .services-content .left-contents{
    text-align: center;
    color: black;

}


.services .services-content .middle{
    flex: 1;
    text-align: center;
    color: black;


}
.services .services-content .middle-contents{
    text-align: center;
    color: black;
}

.services .services-content .right{
    flex: 1;
    text-align: center;
    color: black;


}
.services .services-content .right-contents{
    text-align: center;
    color: black;

}


@media (min-width:280px) and (max-width:1200px){
    .navbar-brand .logo{
        min-width: 100px;
        width: 100px;
    }

    .banner .banner-text h1{
        font-size: 45px;
    }
    
    .banner .banner-text p{
        font-size: 17px;
    } 

    .services .services-content{
        flex-direction: column;
        gap: 30px;
    }

    .banner-2 .banner-text{
        top: 20% ;
        text-align: right;
    }

    .banner-2 .banner-text h2{
        font-size: 32px;
    }

    .banner-2 .banner-text p{
        font-size: 13px !important;
    }
}

@media (min-width:280px) and (max-width:768px){
    .banner .banner-text{
        left: 4%;
    }
    .navbar-brand .logo{
        margin-left: 10px;
    }
    .banner-2 .banner-text{
        top: -55%;
        padding-right: 20px;
    }
    .web-design{
        flex-direction: column;
    }
    .web-design .left img{
        width: 200px;
    }

    .web-design .right h1{
        font-size: 45px !important;
        padding-top: 15px !important;
    }

    .web-design .right p{
        font-size: 16px !important;
    }
}

@media (min-width:768px) and (max-width:1024px){
    .banner-2 .banner-text{
        top: 20% ;
    }
    .banner-2 .banner-text p{
        font-size: 14px !important;
    }
}


.footer .footer-content{
    background-color: #131313;
}


.footer .footer-content .left{
    font-size: 10px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
    color: #ffffff;
}

.card-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text{
    font-size: 14px;
}

.web-design{
    justify-content: space-between;
    align-items: center;
    text-align: center;
}


.web-design .right h1{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 75px;
    padding-top: 30px;
    line-height: 0.7;
}

.web-design .right h1 span{
    color: #fa6279;
}

.web-design .right p{
    color: #ffffff;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-style: italic;
}

.web-design .right a .fa:hover{
    background-color: #fa6279;
    border-radius: 50%;
}





